.redes-svg a {
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    /* Cambiar a inline-flex para que se alineen horizontalmente */
    justify-content: center;
    /* Asegura que el SVG esté centrado en el enlace */
    align-items: center;
    padding: 15px 15px;
}

.redes-svg a img {
    width: 25px;
    height: 25px;
    filter: invert(22%) sepia(70%) saturate(569%) hue-rotate(213deg) brightness(96%) contrast(102%);
}

.morado {
    color: #5F38CD;
}

.bg-morado {
    background: #4F3382;
}

.social a {
    width: 1rem;
    height: 1rem;
    width: 25px;
    height: 25px;
    padding: 0px 50px 0px 0px;
    /*filter: invert(22%) sepia(70%) saturate(569%) hue-rotate(213deg) brightness(96%) contrast(102%);*/
    filter: invert(100%);
}